#search-container, #meal-info{
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
}

#meal-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
#meal-container img{
    width: 100%;
    border-radius: 10px;
    height: 80%;
       
}

.single-meal {
    background-color: lightgray;
    border-radius: 10px;
    height: 300px;
}

.single-meal h5{
    padding: 5% 0;
    text-align: center;
    font-size: 16px;
}

#meal-info img{
    height: 350px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

#meal-info h2,#meal-info h5{
    margin-bottom: 30px;
    font-weight: 700;
}

.color{
    color: orangered;
    margin-right: 10px;
}

#nav-img{
    width: 80px;
    margin-left: 50px;
}

#navbarNav{
    margin-right: 50px;
}